
.topic-card {
    height: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 10px;
    margin-left:5px;
}


.topic-card_info {
    flex-grow: 1;
    z-index: 1;
    text-transform: capitalize;
}

.topic-card_info > h4 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5px;
    font-size: 18px;
}

.topic-card_info > h5 {
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5px;
    font-size: 13px;
}

.topic-card_info > h6 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5px;
    color: rgb(167, 161, 161);
    font-weight: normal;
    font-size: small;
}

.topic-card_info > span {
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.topic-card_info > button {
    float: right;
    border-radius: 10%;
    width: 20px;
    height: 20px;
}
.topic-card::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        to top right,
        var(--main-color),
        var(--second-color)
    );
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.topic-card:hover::before{
    background-color: scale(3);
}

.topic-card:hover{
    cursor: pointer;
}




